JWT_SECRET=Tu_llave_secreta
PORT=3001

DATABASE_URL=postgresql://USUARIO:CONTRASEÑA@HOST-POOLER.region.aws.neon.tech/neondb?sslmode=require

DATABASE_URL_UNPOOLED=postgresql://USUARIO:CONTRASEÑA@HOST-DIRECTO.region.aws.neon.tech/neondb?sslmode=require

DB_SCHEMA=public

# --- Correo (Nodemailer) ---
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicacion
EMAIL_FROM_NAME=Learning Management System
EMAIL_FROM_ADDRESS=tu_email@gmail.com

FRONTEND_URL=http://localhost:3000

# --- Google OAuth ---
GOOGLE_CLIENT_ID=tu_google_client_id
GOOGLE_CLIENT_SECRET=tu_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/redirect
